.header {
    margin: 0 auto;
    width: 68.75%;
    max-width: 880px;
    padding: 45px 0 41px;
    border-bottom: 1px solid #545454 rgba(84, 84, 84, .7);
}

@media screen and (max-width: 650px) {
    .header {
        padding: 28px 0 31.6px;
        width: 88.125%;
    }
}

@media screen and (max-width: 375px) {
    .header {
        width: 100%;
    }
}