.popup__form-item {
    margin: 0;
    width: 100%;
    padding: 13px 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.popup__form-item:first-of-type {
    margin-bottom: 18px;
}